<!--  Essential META Tags -->
<meta property="og:title" content="DiRootsMEP | User Guide">
<meta property="og:type" content="website" />
<meta property="og:image" content="https://docs.dirootsmep.diroots.com/assets/images/DiRootsMEP-User-Manual-Featured-Image.png">
<meta property="og:url" content="https://docs.dirootsmep.diroots.com">
<meta name="twitter:card" content="summary_large_image">

<!--  Additional META tags -->
<meta property="og:description" content="DiRootsMEP User Guide. From Revit to PDF, DWG, DGN, DWF, NWC, IFC, etc.">
<meta property="og:site_name" content="DiRoots">
<meta name="twitter:image:alt" content="DiRootsMEP User Manual Cover">

<meta name="theme-color" content="#e6ae46">
<meta name="rating" content="General">

<meta name="twitter:site" content="@DiRoots17">
<meta name="twitter:url" content="https://docs.dirootsmep.diroots.com">